<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <!-- 读取spring配置信息 -->
    <springProperty scope="context" name="APPLICATION_NAME" source="spring.application.name"/>

    <!-- DEBUG -->
    <appender name="LOG-DEBUG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_PATH}/${APPLICATION_NAME}/${APPLICATION_NAME}-DEBUG.log</File>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>DEBUG</level>
            <OnMatch>ACCEPT</OnMatch>
            <OnMismatch>DENY</OnMismatch>
        </filter>
        <append>true</append>
        <!--<Encoding>UTF-8</Encoding>-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${LOG_PATH}/${APPLICATION_NAME}/${APPLICATION_NAME}-%d{yyyy-MM-dd}-DEBUG.log
            </FileNamePattern>
            <!-- 超过MaxHistory之前的删除 -->
            <MaxHistory>1</MaxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
        <layout>
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{96}[%line] - %msg%n</Pattern>
        </layout>
    </appender>

    <!-- INFO -->
    <appender name="LOG-INFO" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_PATH}/${APPLICATION_NAME}/${APPLICATION_NAME}-INFO.log</File>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <OnMatch>ACCEPT</OnMatch>
            <OnMismatch>DENY</OnMismatch>
        </filter>
        <append>true</append>
        <!--<Encoding>UTF-8</Encoding>-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${LOG_PATH}/${APPLICATION_NAME}/${APPLICATION_NAME}-%d{yyyy-MM-dd}-INFO.log
            </FileNamePattern>
            <!-- 超过MaxHistory之前的删除 -->
            <MaxHistory>1</MaxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
        <layout>
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{96}[%line] - %msg%n</Pattern>
        </layout>
    </appender>

    <!-- WARN -->
    <appender name="LOG-WARN" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_PATH}/${APPLICATION_NAME}/${APPLICATION_NAME}-WARN.log</File>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>WARN</level>
            <OnMatch>ACCEPT</OnMatch>
            <OnMismatch>DENY</OnMismatch>
        </filter>
        <append>true</append>
        <!--<Encoding>UTF-8</Encoding>-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${LOG_PATH}/${APPLICATION_NAME}/${APPLICATION_NAME}-%d{yyyy-MM-dd}-WARN.log.zip
            </FileNamePattern>
            <!-- 超过MaxHistory之前的删除 -->
            <MaxHistory>1</MaxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
        <layout>
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{96}[%line] - %msg%n</Pattern>
        </layout>
    </appender>

    <!-- ERROR -->
    <appender name="LOG-ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_PATH}/${APPLICATION_NAME}/${APPLICATION_NAME}-ERROR.log</File>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <OnMatch>ACCEPT</OnMatch>
            <OnMismatch>DENY</OnMismatch>
        </filter>
        <append>true</append>
        <!--<Encoding>UTF-8</Encoding>-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${LOG_PATH}/${APPLICATION_NAME}/${APPLICATION_NAME}-%d{yyyy-MM-dd}-ERROR.log.zip
            </FileNamePattern>
            <!-- 超过MaxHistory之前的删除 -->
            <MaxHistory>30</MaxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
        <layout>
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{96}[%line] - %msg%n</Pattern>
        </layout>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="LOG-DEBUG"/>
        <appender-ref ref="LOG-INFO"/>
        <appender-ref ref="LOG-WARN"/>
        <appender-ref ref="LOG-ERROR"/>
    </root>

    <logger name="com.demo" level="DEBUG"/>
    <logger name="org.apache" level="WARN"/>
    <logger name="org.springframework" level="INFO"/>
    <logger name="org.quartz" level="WARN"/>
    <logger name="java.sql.Connection" level="WARN"/>
    <logger name="java.sql.PreparedStatement" level="WARN"/>
    <logger name="java.sql.ResultSet" level="WARN"/>

</configuration>